<table>
  <style>
    table {
      border-spacing: 11px 11px
    }
  </style>
  <tr>
    <th>Test title</th>
    <th>Questions</th>
    <th align="center", colspan="3">Action</th>
  </tr>
  <tr>
    <td align="center" rowspan="0"><%= @test.title%></td>
    <td><%= render @test.questions %></td>
  </tr>
</table>

<tr><%= link_to 'New question', new_test_question_path %></tr>
