<table>
    <tr>Welcome, <%= link_to 'Guru', root_path %>!</tr>
  <tr>
    <td><%= link_to 'Sign in',  new_user_session_path %>
    </td>

    <td><%= link_to 'Sign up', new_user_registration_path %>
    </td>
  </tr>
</table>
