<div class="row justify-content-center mt-3">
  <div class="col col-md-4 text-center">
    <table class="table">
      <thead>
        <tr>
          <th colspan="3">Gists</th>
        </tr>
        <tr>
          <th>Question</th>
          <th>Gist URL</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><%= render @gists %></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
