<h1>The "<%= @test_passage.test.title %>" test was done! </h1>

<h2>
  <% if pass_the_test?(@test_passage) %>
    The test is passed! Your mark is 
    <span class="green"> 
      <%= "#{score(@test_passage)*100}%" %>  
    </span>
  <% else %>
    The test is failed! Your mark is
    <span class="red">
    <%= "#{score(@test_passage)*100}%" %>
    </span>
  <% end %>
</h2>

<p><%= link_to 'All tests', tests_path %></p>
