<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <table class="table">
      <thead>
        <tr align="center">
          <th>Title</th>
          <th>Correct</th>
          <th align="center", colspan="3">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= render @question.answers %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to 'New answer', new_admin_question_answer_path %><br>
    <%= link_to 'Back', admin_test_questions_path(@question.test_id) %>
  </div>
</div>
