.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.input-green {
  border-color: green;
}

.input-red {
  border-color: red;
}

.success:after {
  content: "success";
  color: green;
}

.failed:after {
  content: "failed";
  color: red;
}

#progressBar {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

#barStatus {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #25F;
}
