<table>
  <style>
    table {
      border-spacing: 11px 11px
    }
  </style>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.number') %></th>
  </tr>
  <tr>
    <td><%= render @tests %></td>
  </tr>
</table>
