<div><%= current_year %></div>
<div>Михаил Пурин</div> 
<div>Проект <%= github_url %> - учебный проект, посвященный созданию тестов с рядом вопросов на тематику языков программирования.</div>
<div><a href="http://thinknetica.com/" target="_blank">"Учебный проект в онлайн-школе Thinknetica".</a></div>
